.box {
    width: 300px;
    height: 150px;
    background-color: lightblue;
    padding: 20px;
    border: 5px solid navy;
    margin: 20px;
}

/* pseudo clase */
.box:hover {
    background-color: lightcoral;
    border:5px darkred solid;
    cursor: pointer;
}


/* pseudo elemento */
.box::before{
    content: " * ";
    font-size: 4em;
}


.box::after{
    content: " * ";
    font-size: 2em;
}